:root {
    --primary-color: white;
    --secondary-color: #3C6B6B; 
    --font-family: 'Arial', sans-serif;
    --highlight-color: rgba(60, 179, 173, 0.15); 
    --border-color: #c8e6c9; 
    --box-shadow-color: rgba(0, 100, 0, 0.1);
    --success-color: rgb(123, 223, 146);  
    --error-color: rgb(151, 9, 9); 
    --transition-time: 0.3s;
    --label-color: #5f6368; 
    --label-hover-color: #2E8B57; 
    --accent-color: #81c784;
    --label-bg-color: #f9f9f9;  
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 0;
}

#lecom_main{
    display: block;
}
#fisico_main{
    display: none;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f1f8e9;
}

h1 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}



#report-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50rem;
    font-size: 1rem;
    padding: 2rem;
    background-color: #ffffff; 
    border-radius: 12px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 6px 12px var(--box-shadow-color);
}


.form-selection-area-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    min-width: 20rem;
    margin-bottom: 2rem;
    animation: fadeInUp var(--transition-time) ease-in-out;
}


.form-label-container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    
    transition: transform var(--transition-time), box-shadow var(--transition-time);
}


.form-label-container > img {
    background-color: var(--highlight-color);
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}


.form-label {
    font-family: var(--font-family);
    color: var(--label-color);
    margin-left: 10px;
    font-size: 1rem;
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px 0;
    transition: color var(--transition-time);
}


.form-label-container > img:hover {
    transform: rotate(10deg) scale(1.1);
}

.form-label-container:hover .form-label {
    color: var(--label-hover-color);  
}


.form-input-container {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    width: 100%;
    text-align: center;
    gap: 10px;
    animation: fadeIn var(--transition-time) ease-in-out;
}


#fotos_input_contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;
    margin-bottom: 2rem;
}


input[type="date"] {
    height: 100%;
}
.form-input-container > input[type="file"] {
    display: none;
}


.form-input-container > label {
    width: 100%;
    padding: 16px;
    border: 2px dashed var(--border-color);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 14px;
    color: #333;
    transition: background-color var(--transition-time), transform var(--transition-time), color var(--transition-time);
}


.form-input-container > label:hover {
    background-color: var(--highlight-color); 
    color: black;
    transform: scale(1.05);
}


#image_generated_container {
    display: none;
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    position: fixed;
    top: 10%;
    left: 20%;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}


#image_generated_container > .img_generated {
    width: 100%;
    margin-top: 12px;
    border-radius: 8px;
}


#close_image_generated_container_confirm {
    position: fixed;
    top: 90%;
    left: 78%;
    width: 3rem;
    height: 3rem;
    background-color: var(--success-color);
    border: none;
    border-radius: 10px;
    color: var(--primary-color);
    font-size: large;
    cursor: pointer;
    animation: fadeIn var(--transition-time) ease-in-out;
    transition: background-color var(--transition-time), transform var(--transition-time);
    z-index: 1002;
}


#close_image_generated_container_confirm:hover {
    transform: scale(1.1);
}


.button-send-report {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
    border: #2e7d32;
    margin-top: 2rem;
}


.button-send-report:hover {
    background-color: #006b63;
    transform: scale(1.05);
}


.form-input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    border: 2px solid var(--border-color);
    border-radius: 8px;
}
.form-input:hover{
    box-shadow: 0 8px 18px var(--box-shadow-color);
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
}

.container.mt-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;  
    margin: 30px auto;  
    padding: 20px;  
    background-color: #ffffff;  
    border-radius: 12px;  
    box-shadow: 0 6px 15px rgba(56, 142, 60, 0.2);  
    border: 2px solid var(--border-color);  
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#chekcbox_fisico_lecon_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    top: 14rem;
    left: 25%;
    
    z-index: 9999999;
}
.checkbox_fisico_lecom_labels:first-child{
    color: white;
    background-color: green;
}

.checkbox_fisico_lecom_labels{
    background-color: white;
    width: 6rem;
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: var(--font-family);
    box-shadow: 1px 1px 1px var(--box-shadow-color);
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}
.checkbox_fisico_lecom_labels:hover{
    box-shadow: 0 8px 18px var(--box-shadow-color);
}

#checkbox_fisico_lecom_chechbox{
    display: none;
}

#checkbox_fisico_lecom_chechbox:active{
}

