:root {
    --primary-color: white;
    --secondary-color: #3C6B6B; /* Cor principal esverdeada */
    --font-family: 'Arial', sans-serif;
    --highlight-color: rgba(60, 179, 173, 0.15); /* Verde suave de destaque */
    --border-color: #c8e6c9; /* Verde pastel suave */
    --box-shadow-color: rgba(0, 100, 0, 0.1);
    --success-color: rgb(123, 223, 146);  /* Verde claro para sucesso */
    --error-color: rgb(151, 9, 9); /* Vermelho para erros */
    --transition-time: 0.3s;
    --label-color: #5f6368; /* Cor neutra para labels */
    --label-hover-color: #2E8B57; /* Verde escuro ao passar o mouse */
    --accent-color: #81c784;
    --label-bg-color: #f9f9f9;  /* Fundo claro para evitar um contraste muito forte */
}

#lecom_main{
    display: block;
}
#fisico_main{
    display: none;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f1f8e9;
}

h1 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}


/* Estilo geral do formulário */
#report-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50rem;
    font-size: 1rem;
    padding: 2rem;
    background-color: #ffffff; /* Cor de fundo suave esverdeada */
    border-radius: 12px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 6px 12px var(--box-shadow-color);
}

/* Estilo dos containers de cada campo de seleção */
.form-selection-area-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    min-width: 20rem;
    margin-bottom: 2rem;
    animation: fadeInUp var(--transition-time) ease-in-out;
}

/* Container para a label do campo */
.form-label-container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    /* Não há mais cor no fundo do container */
    transition: transform var(--transition-time), box-shadow var(--transition-time);
}

/* Imagem ao lado da label */
.form-label-container > img {
    background-color: var(--highlight-color);
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}

/* Estilo da label */
.form-label {
    font-family: var(--font-family);
    color: var(--label-color);
    margin-left: 10px;
    font-size: 1rem;
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px 0;
    transition: color var(--transition-time);
}

/* Hover na label (sem mudança de fundo, apenas a cor do texto) */
.form-label-container > img:hover {
    transform: rotate(10deg) scale(1.1);
}

.form-label-container:hover .form-label {
    color: var(--label-hover-color);  /* Cor mais intensa ao passar o mouse */
}

/* Estilo do container de input */
.form-input-container {
    display: flex;
    flex-direction: column; /* Ajustando para coluna */
    align-items: stretch; /* Garantindo que os inputs ocupem toda a largura */
    width: 100%;
    text-align: center;
    gap: 10px;
    animation: fadeIn var(--transition-time) ease-in-out;
}

/* Estilo do campo de upload de arquivos */
#fotos_input_contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;
    margin-bottom: 2rem;
}

/* Esconde o input file padrão */
input[type="date"] {
    height: 100%;
}
.form-input-container > input[type="file"] {
    display: none;
}

/* Estilo do label de upload */
.form-input-container > label {
    width: 100%;
    padding: 16px;
    border: 2px dashed var(--border-color);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 14px;
    color: #333;
    transition: background-color var(--transition-time), transform var(--transition-time), color var(--transition-time);
}

/* Hover no label de upload */
.form-input-container > label:hover {
    background-color: var(--highlight-color); /* Mantém o efeito de destaque suave */
    color: black;
    transform: scale(1.05);
}

/* Estilo para o contêiner de imagens geradas */
#image_generated_container {
    display: none;
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    position: fixed;
    top: 10%;
    left: 20%;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

/* Estilo das imagens geradas */
#image_generated_container > .img_generated {
    width: 100%;
    margin-top: 12px;
    border-radius: 8px;
}

/* Estilo do botão de fechar a visualização das imagens */
#close_image_generated_container_confirm {
    position: fixed;
    top: 90%;
    left: 78%;
    width: 3rem;
    height: 3rem;
    background-color: var(--success-color);
    border: none;
    border-radius: 10px;
    color: var(--primary-color);
    font-size: large;
    cursor: pointer;
    animation: fadeIn var(--transition-time) ease-in-out;
    transition: background-color var(--transition-time), transform var(--transition-time);
    z-index: 1002;
}

/* Hover no botão de fechar */
#close_image_generated_container_confirm:hover {
    transform: scale(1.1);
}

/* Estilo do botão de envio */
#button-send-report {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
    border: #2e7d32;
    margin-top: 2rem;
}

/* Hover no botão de envio */
#button-send-report:hover {
    background-color: #006b63;
    transform: scale(1.05);
}

/* Estilo dos campos de input */
.form-input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    border: 2px solid var(--border-color);
    border-radius: 8px;
}
.form-input:hover{
    box-shadow: 0 8px 18px var(--box-shadow-color);
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
}

.container.mt-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;  /* Limita a largura máxima do container */
    margin: 30px auto;  /* Centraliza o container com margens verticais */
    padding: 20px;  /* Espaçamento interno */
    background-color: #ffffff;  /* Cor de fundo branca para destacar o conteúdo */
    border-radius: 12px;  /* Bordas arredondadas */
    box-shadow: 0 6px 15px rgba(56, 142, 60, 0.2);  /* Sombra suave */
    border: 2px solid var(--border-color);  /* Borda suave no tom verde claro */
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* *{border: solid;} */

#chekcbox_fisico_lecon_container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    width: 50%;
    top: 14rem;
    left: 25%;

    z-index: 9999999;
}
.checkbox_fisico_lecon_labels{
    background-color: #ffffff;
    width: 4rem;
    color: var(--accent-color);
    font-family: var(--font-family);
    text-align: center;
    border: solid 1px;
}
#checkbox_fisico_lecom_chechbox{
    /* display: none; */
}

#checkbox_fisico_lecom_chechbox:active{
}