
:root {
    --primary-color: #4caf50;
    --secondary-color: #388e3c;
    --background-color: #e8f5e9;
    --white: #ffffff;
    --text-color: #2e2e2e;
    --error-color: #d32f2f;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
}

.login-container {
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: var(--text-color);
}

.login-container input {
    padding: 0.8rem;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.login-container input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
}

.login-container .btn {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container .btn:hover {
    background-color: var(--secondary-color);
}

.login-container .error {
    color: var(--error-color);
    font-size: 0.85rem;
    margin-bottom: 1rem;
    list-style: none;
}


.login-footer {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: var(--text-color);
}

.login-footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.login-footer a:hover {
    text-decoration: underline;
}